@model BanTV.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Details</h1>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dienthoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matkhau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matkhau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Daxoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Daxoa)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
