@model IEnumerable<BanTV.Models.DanhMuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Quản lý danh mục</h5>
                <div class="table-responsive">
                    <td class="border-bottom-0">
                        <div class="d-flex align-items-center gap-2">
                            <span class="badge bg-primary rounded-3 fw-semibold "><a class="text-white" asp-action="Create">Thêm danh mục</a></span>
                        </div>
                        </br>
                        <div class="d-flex flex-row">
                            <form asp-controller="DanhMucs" asp-action="Search">
                                <input type="search" name="SearchKey" placeholder="Tìm kiếm...." class="form-control" />
                            </form>

                        </div>
                    </td>
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 text-center">Mã danh mục</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên danh mục</h6>
                                </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@Html.DisplayFor(modelItem => item.Madm)</h6></td>
                                <td class="border-bottom-0">
                                    <p class="mb-0 fw-normal">@Html.DisplayFor(modelItem => item.Ten)</p>
                                </td>
                                <td class="border-bottom-0">
                                        <span class="badge bg-secondary rounded-3 fw-semibold"> <a class="text-white" asp-action="Edit" asp-route-id="@item.Madm"> Sửa</a></span>
                                    
                                       <span class="badge bg-success rounded-3 fw-semibold"> <a class="text-white" asp-action="Details" asp-route-id="@item.Madm">Xem</a></span>
                                      <span class="badge bg-danger rounded-3 fw-semibold"><a class="text-white" asp-action="Delete" asp-route-id="@item.Madm">Xóa</a></span>
                                   
                                </td>
                            
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>