@model IEnumerable<BanTV.Models.MatHang>

@{ ViewData["Title"] = "Index"; }
<br />
<br />

<h1>Những mặt hàng không bán được</h1>
<br />
<p>
    <a asp-controller="Main" asp-action="Quanlyhangton">Mặt hàng tồn kho</a>
</p>
<br />
<br />
<div class="d-flex align-items-center gap-2">
    <span class="badge bg-primary rounded-3 fw-semibold "><a class="text-white" asp-action="excelkhong">Xuất Excel</a></span>
</div>
<br />

<br />
<table class="table">
    <thead>
        <tr>

            <th>
                Mã Mặt hàng
            </th>

            <th>
                Tên mặt hàng
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Lược mua
            </th>
            <th>
                Danh mục
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MatHang item in Model)
        {
            <tr>
                @if (item.luotmua == 0)
                {

                    <td>
                        @Html.DisplayFor(modelItem => item.Mamh)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        <img src="~/images/images/@Html.DisplayFor(modelItem => item.Hinhanh)" width="150" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soluong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.luotmua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MadmNavigation.Ten)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>



