@model IEnumerable<BanTV.Models.MatHang>

@{ ViewData["Title"] = "Index"; }
<br />
<br />

<h1>Quản lý hàng tồn</h1>
<br />
<p>
    <a asp-controller="Main" asp-action="khong">Mặt hàng không bán được</a>
</p>
<br />

<div class=" col-12 text-center">
    <h4> biểu đồ cột (số lượng, lượt mua của sản phẩm)</h4>
    <canvas id="barChart" width="400" height="390" style="width:197px;height:110px; "></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="/assets/libs/jquery/dist/jquery.min.js"></script>



<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Main/Gets",
                data: "",
                contentType: "application/json; charset=utf8 ",
                dataType: "json",
                success: OnSuccess,

            });
            function OnSuccess(data) {
                const barChart = document.getElementById('barChart');
                var _data = data;
                var _labels = _data[0];
                var _CharData = _data[1];
                var _CharDatat = _data[2];
                var colorsr = ['Blue', 'Red', 'Green', 'Yellow', 'Purple'];
                new Chart(barChart,
                    {
                        type: 'bar',
                        data: {
                            labels: _labels,
                            datasets: [{
                                backgroundColor: colorsr,
                                data: _CharDatat,
                                borderWidth: 1,
                            },
                             {
                                backgroundColor: colorsr,
                                 data: _CharData,
                                borderWidth: 1,
                            }]
                           
                        }
                    });

                    }

                });
</script>

<br />
<table class="table">
    <thead>
        <tr>

            <th>
                Mã Mặt hàng
            </th>

            <th>
                Tên mặt hàng
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Lược mua
            </th>
            <th>
                Danh mục
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MatHang item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Mamh)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    <img src="~/images/images/@Html.DisplayFor(modelItem => item.Hinhanh)" width="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.luotmua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MadmNavigation.Ten)
                </td>

            </tr>
        }
    </tbody>
</table>



