<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cửa hàng TV</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="bi bi-shop-window"></i> Cửa hàng TV</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active"><i class="fa fa-home"></i> Home</a>
                <a asp-controller="Home" asp-action="hot" class="nav-item nav-link text-danger">HOT</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">giá tiền</a>
                    <div class="dropdown-menu fade-down m-0">

                        <a class="dropdown-item" asp-action="In" asp-route-id="1"> < 6 triệu</a>
                        <a class="dropdown-item" asp-action="In1" asp-route-id="2">6-10 triệu </a>
                        <a class="dropdown-item" asp-action="In2" asp-route-id="3">10-20 triệu </a>
                        <a class="dropdown-item" asp-action="In3" asp-route-id="4"> > 20 triệu  </a>

                    </div>
                </div>




                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Danh mục</a>
                    <div class="dropdown-menu fade-down m-0">
                        @foreach (var i in (List<DanhMuc>)ViewBag.danhmuc)
                        {
                            <a class="dropdown-item" asp-action="Index1" asp-route-id="@i.Madm">@i.Ten </a>
                        }
                    </div>
                </div>
                <a asp-controller="Home" asp-action="GioiThieu" class="nav-item nav-link">giới thiệu</a>

                <a asp-action="ViewCart" class="nav-item nav-link"><i class="bi bi-cart3"></i><span class="badge bg-danger text-white ms-1 rounded-pill">@ViewData["SoLuongGioHang"]</span></a>
            </div>





            <div class="d-flex flex-row">
                <form asp-controller="Home" asp-action="Search">
                    <input type="search" name="SearchKey" placeholder="Tìm kiếm...." class="form-control" />
                </form>

            </div>
            &nbsp;
            &nbsp;





            @if (ViewBag.khachhang != null)
            {
                <a asp-action="Customer" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"> @ViewBag.khachhang.Ten</a> }


            else
            @if (ViewBag.nhanvien != null)
       {
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light"><i class="bi bi-person"></i> @ViewBag.nhanvien.Ten</a>
    }
    else
    {
        <a asp-action="Login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đăng nhập<i class="fa fa-arrow-right ms-3"></i></a>
    }

        </div>
    </nav>
    <!-- Navbar End -->

    <div>
        @RenderBody()
    </div>

    <div id="demo" class="carousel slide shadow" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="9"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/quảng cáo/800-200-800x200-13.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800-200-800x200-28.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800-200-800x200-34.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800-200-800x200-44.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800-200-800x200-45.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800-200-800x200-65.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800-200-800x200-69.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800x200--1--800x200-3.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800x200-800x200-15.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="~/quảng cáo/800x200-800x200-19.png" alt="Chất lượng ảnh siêu nét" class="d-block w-100" />
            </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Liên kết</h4>
                    <a class="btn btn-link" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <a class="btn btn-link" asp-controller="Home" asp-action="GioiThieu">Giới thiệu</a>
                    <a class="btn btn-link" asp-controller="Home" asp-action="Login">Đăng nhập</a>
                    <a class="btn btn-link" asp-controller="Home" asp-action="Register">Đăng ký</a>

                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">
                        Liên hệ
                    </h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>18 Ung Văn Khiêm, P Đông Xuyên, TP Long Xuyên, An Giang</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Google Map</h4>
                    <div class="row g-2 pt-2">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62795.50446972825!2d105.41106590735666!3d10.36433596470803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a72e61acc9f2d%3A0x313beeb58d3fb68e!2zU2nDqnUgdGjhu4sgxJBp4buHbiBtw6F5IFhBTkg!5e0!3m2!1svi!2s!4v1712051265314!5m2!1svi!2s" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Tài khoản</h4>
                    <p>Nếu bạn chưa đăng ký tài khoảng của mình thì hãy đăng ký TẠI ĐÂY</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <a type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2" asp-controller="Home" asp-action="Register"> Đăng Ký</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <p><div class="col-md-12 text-center ">
    &copy; <a class="border-bottom" href="https://mobifoneangiang.com/">Công Ty Phạm Anh Phú</a>.
    Designer By <a class="border-bottom" href="https://htmlcodex.com">DPM205480 . Châu Kim Thành . DH21PM</a>
</div></p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>